body {
    font-family: 'Source Sans Pro';
    color: #626466;
}

nav {
    background-color: #f5f5f5;
}

td a {
    color: #3c6082;
}

.recon-nav-logo {
    height: 1.4rem;
    margin-top: 0.2rem;
}

.dropdown-item {
    color: #626466;
}